 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Novo Evento</h3>
      </header>
      <div class="content"> 
        Evento editado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>